.el-input {
  overflow: hidden;
  font-size: 14px;
  .el-input__wrapper {
    padding: 1px 16px;
  }
  &__inner {
    min-height: 40px;
    border: none;
    box-shadow: none;
    height: 100%;
    line-height: inherit;
    &::-webkit-input-placeholder {
      color: $textAssistColor;
    }

    &:focus {
      background-color: #f4f5f9;
    }
  }
}
